!
vpc domain {{vpcdomain}}
  peer-keepalive destination {{keepalivedest}} source {{keepalivesrce}} vrf {{keepalivevrf}}
  role priority {{vpcpriority}}
  peer-switch
  peer-gateway
  ip arp synchronize
