!
interface vlan {{vlanid}}
  description {{vlandescription}}
  {% if interfacevrf != None -%}
  vrf member {{interfacevrf}}
  {% else -%}
  ip address {{fhrpipaddress}}/{{bitmask}}
  {% endif -%}
  {% if fhrpigp == 'ospf' -%}
  ip router ospf {{ospfprocid}} area {{ospfareaid}}
  ip ospf passive-interface
  {% endif -%}
  ip pim sparse-mode
  {% if fhrpmtu == 'None' -%}
  mtu {{fhrpmtu}}
  {% endif -%}
  no shutdown
  {{fhrpprotocol}} {{fhrpgroup}}
    address {{vlangateway}}
    priority {{fhrppriority}}
	preempt
	no shutdown
