! Generate ospf config
!
interface loop10
  ip address {{routerid}} 255.255.255.255
no shutdown
!
router ospf {{processid}}
  router-id {{routerid}}
  log-adjacency-changes
!
interface loop10
  ip router ospf 10 area 0
