!
hostname {{hostname}}
!
ip domain-name {{domainname}}
!
feature pim
!
feature udld
!
feature interface-vlan
!
feature lacp
!
feature ospf
!
banner motd ^C

***********************************************************************************
UNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED

You must have explicit, authorized permission to access or configure this device.

Unauthorized attempts and actions to access or use this system may result in civil
and/or criminal penalties.

All activities performed on this device are logged and monitored.

***********************************************************************************

Welcome to $(hostname)
^
!
ssh key rsa 2048
!
no ip domain-lookup
!
{{vlanconfigs}}
!
{{fhrpconfigs}}
!
{{portchconfigs}}
!
{{ospfconfigs}}
!
{{intf_access}}
!
{{intf_uplink}}
!
{{mgmtconfigs}}
