! Generated Configuration
interface port-channel {{portchid}}
  description *Link_to_{{ hostname }}*
  {% if introle == 'trunk' -%}
  switch
  switchport mode trunk
  {% elif introle == routed -%}
  no switchport
  ip address {{address}} {{subnet}}
  {% else -%}
  switch
  switchport mode access
  switchport access vlan {{vlanid}}
  {% endif -%}
  {% if mlagid !=None -%}
  vpc {{ mlagid }}
  {% endif -%}
  no shutdown
